[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
	branch = release-1.10.0
[submodule "external/Vulkan-Headers"]
	path = external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
	branch = v1.2.158
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.8.1
[submodule "python/pybind11"]
	path = python/pybind11
	url = https://github.com/pybind/pybind11
    branch = v2.6.1
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang/
    branch = 11.1.0
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
    branch = 7.1.3
